In [4]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import lightgbm as lgb


#importing machine learning libraries
import tensorflow as tf
# from tensorflow.kears.models import In
from tensorflow.keras.layers import Dense, LSTM, Input
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import pickle



#Secondary imports
import pandas_profiling as pp

## Reading Datasets

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')

In [8]:
pp_train = pp.ProfileReport(train, pool_size = 6)
# pp_test = pp.ProfileReport(test)

pp_train.to_file('train_analysis.html')
# pp_test.to_file('test_analysis.html')

/usr/local/lib/python3.5/site-packages/pandas_profiling/__init__.py:53: UserWarning: Sorting is supported from Python 3.6+
  warnings.warn("Sorting is supported from Python 3.6+")

In [141]:
lgbb = lgb.LGBMClassifier()
lgbb.fit(trainx, trainy)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [4]:
test.columns

Index(['Col1', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10',
       'Col11',
       ...
       'Col2388', 'Col2389', 'Col2390', 'Col2391', 'Col2392', 'Col2393',
       'Col2394', 'Col2395', 'Col2396', 'Col2397'],
      dtype='object', length=2394)

In [5]:
train.columns

Index(['Col1', 'Col2', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9',
       'Col10',
       ...
       'Col2388', 'Col2389', 'Col2390', 'Col2391', 'Col2392', 'Col2393',
       'Col2394', 'Col2395', 'Col2396', 'Col2397'],
      dtype='object', length=2395)

In [6]:
train.fillna(train.mean(), inplace=True)

In [7]:
test.fillna(test.mean(), inplace=True)

In [8]:
from scipy.stats import pearsonr

In [10]:
pearsonr(test['Col3'][:15000], train['Col3'][:15000])

(0.0015531277444954424, 0.8491502276512757)

In [52]:
the_list = []
for i in range(2, len(train.columns)):
    try:
        if round(pearsonr(test[train.columns[i]][:15000], train[train.columns[i]][:15000])[0], 2) > 0.02:
            print("This is the value for column:", train.columns[i], round(pearsonr(test[train.columns[i]][:15000], train[train.columns[i]][:15000])[0], 2))
            the_list.append(train.columns[i])
            
    except:
        pass
#         print("Couldn't do it for :", train.columns[i])

This is the value for column: Col17 0.03
This is the value for column: Col192 0.03
This is the value for column: Col389 0.03
This is the value for column: Col400 0.03
This is the value for column: Col585 0.03
This is the value for column: Col878 0.03

In [53]:
train[the_list].reset_index()

,index,Col17,Col192,Col389,Col400,Col585,Col878
0,0,0.548538,0.500000,0.500000,4.269167e+03,0.000000,39.000000
1,1,1.167898,4.200000,4.200000,3.191776e+05,7.000000,47.000000
2,2,1.145182,7.600000,7.600000,2.555506e+05,5.333333,24.000000
3,3,1.204010,6.600000,6.600000,2.984598e+05,8.666667,8.000000
4,4,1.077682,147.600000,147.600000,3.454484e+07,242.000000,5.000000
5,5,1.305899,7.500000,7.500000,1.552925e+06,10.000000,41.000000
6,6,1.000000,0.142857,0.166667,4.166667e+03,0.000000,31.000000
7,7,0.998686,1.571429,1.833333,6.195050e+04,2.333333,28.000000
8,8,0.820135,0.000000,0.000000,0.000000e+00,0.000000,31.000000
9,9,1.000000,0.000000,0.000000,0.000000e+00,0.000000,61.000000
10,10,0.979536,0.000000,0.000000,0.000000e+00,0.000000,51.000000
11,11,1.250000,0.000000,0.000000,0.000000e+00,0.000000,32.000000
12,12,1.136372,0.166667,0.166667,9.583333e+02,0.333333,23.000000
13,13,0.206824,0.428571,0.500000,8.400000e+04,0.000000,39.000000
14,14,0.980224,0.000000,0.000000,0.000000e+00,0.000000,51.000000
15,15,1.200000,0.333333,0.333333,1.977000e+03,0.666667,18.000000
16,16,1.150547,0.285714,0.333333,5.973667e+03,0.333333,43.000000
17,17,1.000000,0.800000,0.800000,1.053400e+04,0.666667,44.000000
18,18,1.000000,0.833333,0.833333,4.166667e+03,1.666667,155.000000
19,19,1.333054,0.500000,0.500000,5.000000e+03,0.666667,31.000000
20,20,1.200000,0.000000,0.000000,0.000000e+00,0.000000,30.000000
21,21,1.082766,0.000000,0.000000,0.000000e+00,0.000000,52.000000
22,22,1.000000,0.000000,0.000000,0.000000e+00,0.000000,30.000000
23,23,1.166710,0.000000,0.000000,0.000000e+00,0.000000,26.000000
24,24,1.000000,0.000000,0.000000,0.000000e+00,0.000000,30.000000
25,25,1.250000,0.000000,0.000000,0.000000e+00,0.000000,34.000000
26,26,0.896494,0.166667,0.166667,1.666667e+03,0.333333,20.000000
27,27,1.183184,0.600000,0.600000,5.821000e+03,1.000000,36.000000
28,28,0.902454,0.000000,0.000000,0.000000e+00,0.000000,22.000000
29,29,1.124761,0.000000,0.000000,0.000000e+00,0.000000,41.000000
...,...,...,...,...,...,...,...
17491,17491,1.077682,0.000000,0.000000,0.000000e+00,0.000000,11.000000
17492,17492,0.945397,0.250000,0.250000,7.500000e+02,0.333333,18.000000
17493,17493,0.760667,0.250000,0.250000,6.250000e+03,0.333333,53.000000
17494,17494,1.122268,0.000000,0.000000,0.000000e+00,0.000000,24.000000
17495,17495,1.316792,0.000000,0.000000,0.000000e+00,0.000000,21.000000
17496,17496,1.077682,0.000000,0.000000,0.000000e+00,0.000000,32.000000
17497,17497,1.143829,0.000000,0.000000,0.000000e+00,0.000000,15.000000
17498,17498,1.077682,0.000000,0.000000,0.000000e+00,0.000000,33.649264
17499,17499,1.089277,1.750000,1.750000,3.109150e+04,1.666667,13.000000
17500,17500,1.205610,0.000000,0.000000,0.000000e+00,0.000000,19.000000
17501,17501,1.333333,0.000000,0.000000,0.000000e+00,0.000000,33.000000
17502,17502,1.333333,0.000000,0.000000,0.000000e+00,0.000000,23.000000
17503,17503,0.914135,0.000000,0.000000,0.000000e+00,0.000000,31.000000
17504,17504,1.077682,0.000000,0.000000,0.000000e+00,0.000000,33.649264
17505,17505,1.077682,0.000000,0.000000,0.000000e+00,0.000000,33.649264
17506,17506,1.333333,0.000000,0.000000,0.000000e+00,0.000000,1.000000
17507,17507,1.051466,0.750000,0.750000,2.239250e+04,1.000000,43.000000
17508,17508,1.333333,0.000000,0.000000,0.000000e+00,0.000000,33.000000
17509,17509,1.100000,0.000000,0.000000,0.000000e+00,0.000000,36.000000
17510,17510,1.198364,0.000000,0.000000,0.000000e+00,0.000000,33.000000
17511,17511,1.077682,0.000000,0.000000,0.000000e+00,0.000000,40.000000
17512,17512,1.077682,30.500000,30.500000,5.959563e+06,40.666667,23.000000
17513,17513,1.077682,4.000000,4.000000,1.570812e+05,5.666667,13.000000
17514,17514,1.090407,0.000000,0.000000,0.000000e+00,0.000000,58.000000
17515,17515,0.985812,0.000000,0.000000,0.000000e+00,0.000000,20.000000
17516,17516,1.000000,0.500000,0.500000,1.316667e+04,0.666667,76.000000
17517,17517,1.084643,1.833333,1.833333,4.910767e+04,2.333333,70.000000
17518,17518,1.250000,0.000000,0.000000,0.000000e+00,0.000000,58.000000
17519,17519,1.000000,0.142857,0.166667,1.666667e+04,0.000000,35.000000
17520,17520,1.000000,0.000000,0.000000,0.000000e+00,0.000000,66.000000

In [54]:
train_data = train[the_list].values
test_data = test[the_list].values

In [55]:
np.shape(train_data)

(17521, 6)

In [ ]:
lgbb = lgb.LGBMClassifier()
# ctb = CatBoostClassifier(verbose=False)

# xgbb = xgb.XGBClassifier()

n_split = 5
avg1 = 0
avg2 = 0
count=0

skf = StratifiedKFold(n_splits = n_split, shuffle = True)

for train_index, test_index in skf.split(train[cols], train['Col2']):
    print("hello", count)
    count+=1
   
    trainx, testx = train[cols].iloc[train_index], train[cols].iloc[test_index]
    trainy, testy = train['Col2'].iloc[train_index], train['Col2'].iloc[test_index]
    
    lgbb.fit(trainx, trainy)
#     ctb.fit(trainx, trainy)
    avg1 += accuracy_score(lgbb.predict(testx), testy)
#     avg2 += accuracy_score(ctb.predict(testx), testy)


print("Average accuracy was: ", avg1/n_split)#,"and", avg2/6)0

In [56]:
lgbb = lgb.LGBMClassifier()
lgbb.fit(train_data, train['Col2'].values)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [43]:
result = lgbb.predict(test_data)

In [45]:
submission = pd.DataFrame()
submission['Col1'] = test['Col1']
submission['Col2'] = result

In [46]:
submission.to_csv('submission.csv', index=False)

In [47]:
submission.head()

        Col1  Col2
0  RIGD58ZWD     0
1  RIH660YDS     0
2  RIH660Q96     0
3  RIYDO15W1     0
4  RIYBGC1ZD     0

In [48]:
submission['Col2'].value_counts()

0    20288
1      154
Name: Col2, dtype: int64

In [49]:
train['Col2'].value_counts()

0    15760
1     1761
Name: Col2, dtype: int64

In [50]:
154/20288

0.007590694006309148

In [51]:
1761/15760

0.11173857868020305